<template>
  <transition name="fade">
    <div v-if="currentPage === 1">
      <div class="center">
        <h1>Мини-игра "Залутай сундук"</h1>
        <button v-on:click="changePage" class="start-button">Начать</button>
      </div>
    </div>
    <div v-else-if="currentPage === 2" class="center">
      <h1>Loading...</h1>
      <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
    <div v-else-if="currentPage === 3" class="housePage"></div>
    <div v-else-if="currentPage === 4" class="closedChest">
      <div v-if="showTip === 1" class="center">
        <h1 v-on:click="tipPress" class="lootBtn">Нажмите чтобы залутать сундук</h1>
      </div>
    </div>
    <div v-else class="lootingArea">
      <div class="background"></div>
      <div class="inventory">
        <h2>Вещи в сундуке</h2>
        <div class="inventoryGrid" @drop="onDrop" @dragover="onDragOver">
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" id="memory-book"><path d="M3 2H4V1H18V2H19V20H18V21H4V20H3V2M11 9H10V8H9V9H8V10H7V3H5V19H17V3H12V10H11V9Z" /></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg width="800px" height="800px" viewBox="0 0 24 24" id="Line" xmlns="http://www.w3.org/2000/svg"><path id="primary" d="M8,3H8a2,2,0,0,1,2,2V20a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A2,2,0,0,1,8,3Zm2,9a11,11,0,0,1,6,3,9.46,9.46,0,0,0,2-6,9.46,9.46,0,0,0-2-6,11,11,0,0,1-6,3Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 5.5C18 5.6939 17.9779 5.88264 17.9362 6.06385C18.1174 6.02207 18.3061 6 18.5 6C19.8807 6 21 7.11929 21 8.5C21 9.88071 19.8807 11 18.5 11C17.7411 11 16.9411 10.836 16.2614 11.1734C15.4685 11.567 14.7401 12.0884 14.1073 12.7213L12.7214 14.1072C12.0885 14.7401 11.567 15.4685 11.1734 16.2615C10.836 16.9412 11 17.7412 11 18.5C11 19.8807 9.88071 21 8.5 21C7.11929 21 6 19.8807 6 18.5C6 18.3061 6.02207 18.1174 6.06385 17.9362C5.88264 17.9779 5.6939 18 5.5 18C4.11929 18 3 16.8807 3 15.5C3 14.1193 4.11929 13 5.5 13C6.25893 13 7.05907 13.1641 7.73885 12.8266C8.53173 12.433 9.2601 11.9116 9.89295 11.2787L11.2788 9.89284C11.9116 9.26007 12.433 8.53178 12.8266 7.739C13.1641 7.05919 13 6.25898 13 5.5C13 4.11929 14.1193 3 15.5 3C16.8807 3 18 4.11929 18 5.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M18,11H15V2a1,1,0,0,0-1-1H4A1,1,0,0,0,3,2V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V16A5.006,5.006,0,0,0,18,11ZM13,3v9a1,1,0,0,0,1,1h4a3,3,0,0,1,3,3v2H5V3Zm7,18H6a1,1,0,0,1-1-1H21A1,1,0,0,1,20,21Z"/></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" id="memory-book"><path d="M3 2H4V1H18V2H19V20H18V21H4V20H3V2M11 9H10V8H9V9H8V10H7V3H5V19H17V3H12V10H11V9Z" /></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M22 0C20.355469 0 19 1.355469 19 3L19 6C19 6.523438 19.183594 7.058594 19.5625 7.4375C19.84375 7.71875 20.203125 7.898438 20.59375 7.96875C20.445313 8.085938 20.261719 8.175781 20.03125 8.21875L20 8.21875C15.457031 9.214844 12 13.222656 12 18.09375L12 21C12 22.257813 12.890625 23.152344 14 23.59375L14 36.40625C12.890625 36.847656 12 37.742188 12 39L12 45C12 47.746094 14.253906 50 17 50L33 50C35.746094 50 38 47.746094 38 45L38 39C38 37.742188 37.109375 36.847656 36 36.40625L36 23.59375C37.109375 23.152344 38 22.257813 38 21L38 18.09375C38 13.222656 34.542969 9.214844 30 8.21875L29.96875 8.21875C29.738281 8.175781 29.554688 8.085938 29.40625 7.96875C29.796875 7.898438 30.15625 7.71875 30.4375 7.4375C30.816406 7.058594 31 6.523438 31 6L31 3C31 1.355469 29.644531 0 28 0 Z M 22 2L28 2C28.554688 2 29 2.445313 29 3L29 6L21 6L21 3C21 2.445313 21.445313 2 22 2 Z M 22.65625 8L27.34375 8C27.707031 9.046875 28.445313 9.929688 29.59375 10.15625L29.59375 10.1875C29.601563 10.1875 29.617188 10.1875 29.625 10.1875C33.269531 11 36 14.175781 36 18.09375L36 21C36 21.554688 35.554688 22 35 22L18 22L18 24L34 24L34 36L18 36L18 38L35 38C35.554688 38 36 38.445313 36 39L36 45C36 46.65625 34.65625 48 33 48L17 48C15.34375 48 14 46.65625 14 45L14 39C14 38.445313 14.445313 38 15 38L16 38L16 22L15 22C14.445313 22 14 21.554688 14 21L14 18.09375C14 14.175781 16.730469 11 20.375 10.1875C20.390625 10.183594 20.390625 10.160156 20.40625 10.15625C21.554688 9.929688 22.292969 9.046875 22.65625 8Z"/></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg width="800px" height="800px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M156.7 25.83L89 39.38c-.1 58.57-1.74 119.32-43.49 167.22C104.4 246.5 189 260.7 247 248.8v-99L108.3 88.22l7.4-16.44L256 134.2l140.3-62.42 7.4 16.44L265 149.8v99c58 11.9 142.6-2.3 201.5-42.2-41.8-47.9-43.4-108.65-43.5-167.22l-67.7-13.55c-12.9 13.88-20.6 28.15-32.9 40.53C308.9 79.78 289.5 89 256 89c-33.5 0-52.9-9.22-66.4-22.64-12.3-12.38-20-26.65-32.9-40.53zM53.88 232.9C75.96 281 96.07 336.6 102.7 392.8l65 22.8c4.2-52.7 28.2-104 63.7-146.1-55.1 6.3-122.7-5.8-177.52-36.6zm404.22 0c-54.8 30.8-122.4 42.9-177.5 36.6 35.5 42.1 59.5 93.4 63.7 146.1l65.2-22.9c6.6-56.8 26.6-111.8 48.6-159.8zM256 269c-40.5 43.1-67.7 97.9-70.7 152.7l61.7 21.6V336h18v107.3l61.7-21.6c-3.1-54.8-30.2-109.6-70.7-152.7zm151.7 143.4L297 451.1v18.8l110.2-44.1c.1-4.5.3-8.9.5-13.4zm-303.3.1c.3 4.5.4 8.9.5 13.4l110.1 44v-18.7l-110.6-38.7zM279 457.4l-23 8.1-23-8v19.6l23 9.2 23-9.2v-19.7z"/></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 32 32" xml:space="preserve">
<g>
	<path d="M17,26H6c-0.6,0-1-0.4-1-1v-9.3c-1.8-0.6-3-2.3-3-4.2C2,9,4,7,6.5,7h10C19,7,21,9,21,11.5c0,1.9-1.2,3.6-3,4.2V25
		C18,25.6,17.6,26,17,26z"/>
</g>
              <path d="M25.5,7h-4.3c1.1,1.2,1.8,2.8,1.8,4.5c0,2.2-1.2,4.3-3,5.5v8c0,0.4-0.1,0.7-0.2,1H26c0.6,0,1-0.4,1-1v-9.3
	c1.8-0.6,3-2.3,3-4.2C30,9,28,7,25.5,7z"/>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 32 32" xml:space="preserve">
<g>
	<ellipse cx="11.5" cy="13" rx="2.5" ry="1"/>
  <path d="M28.1,7.9C25.2,6.7,21.4,6,17.3,6C8.6,6,2,9,2,13c0,3,2.1,5.4,5.5,6.4c1,0.3,2,0.4,3.1,0.4c1.3,0,2.7-0.2,4-0.7
		c2.1-0.7,4.1-1.9,6.2-3.6c1.2-1,2.8-1.6,4.5-1.6h1.3c1.7,0,3-1.1,3.3-2.6C30.2,10,29.5,8.6,28.1,7.9z M11.5,16C8.9,16,7,14.7,7,13
		s1.9-3,4.5-3s4.5,1.3,4.5,3S14.1,16,11.5,16z"/>
</g>
              <path d="M26.6,16h-1.3c-1.2,0-2.4,0.4-3.2,1.1c-2.3,1.9-4.6,3.2-6.9,4c-1.5,0.5-3.1,0.8-4.6,0.8c-1.2,0-2.5-0.2-3.6-0.5
	c-2.1-0.6-3.8-1.7-5-3.1V20c0,3,2.1,5.4,5.5,6.4c1,0.3,2,0.4,3.1,0.4c1.3,0,2.7-0.2,4-0.7c2.1-0.7,4.1-1.9,6.2-3.6
	c1.2-1,2.8-1.6,4.5-1.6h1.3c1.9,0,3.1-1.3,3.4-2.7c0-0.1,0.1-0.2,0.1-0.3v-3.2C29.1,15.6,27.9,16,26.6,16z"/>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 32 32" xml:space="preserve">
<g>
	<path d="M21.1,10.5l0.3-0.2c0.4-1,1.1-1.8,2-2.3c0,0,0.1,0,0.1,0c0-0.1-0.1-0.1-0.1-0.2c-0.4-0.7-1-1.2-1.8-1.3
		c-0.8-0.2-1.5-0.1-2.2,0.3c-0.7,0.4-1.2,1.1-1.4,1.9l-0.3,0.1C19,9.2,20.1,9.8,21.1,10.5z"/>
</g>
              <path d="M29.4,12.4c-0.2-0.3-0.4-0.5-0.6-0.7c-0.1-0.3-0.2-0.6-0.3-0.9c-0.4-0.7-1-1.2-1.8-1.3c-0.8-0.2-1.5-0.1-2.2,0.3
	c-0.7,0.4-1.2,1.1-1.4,1.9l-2.1,1.2c0,0,0,0,0,0c-0.2,0.1-0.5,0.1-0.7,0.1c-1.3-0.4-3.2,0-4.9,1c-1.3,0.7-2.4,1.8-2.9,2.8
	c-0.2,0.3-0.5,0.5-0.9,0.5c-0.2,0-0.3,0-0.5-0.1c-0.5-0.3-0.7-0.9-0.4-1.4c0.8-1.4,2.1-2.6,3.7-3.6c1.1-0.6,2.3-1.1,3.4-1.3
	C16.3,10.3,14.7,10,13,10c-6.1,0-11,4.2-11,9.3C2,26,10.3,26,13,26c2.3,0,8.3,0,10.3-3.8c-0.2,0.2-0.3,0.3-0.5,0.5
	c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.3-1,0.1-1.4c0.9-0.8,1.5-1.8,1.8-2.6c0.1-0.3,0.3-0.6,0.7-0.7l2-1.2
	c0.8,0.2,1.6,0.2,2.4-0.3C29.7,15.6,30.2,13.8,29.4,12.4z"/>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13.553,16.105A1,1,0,0,0,13,17v3a1,1,0,0,0,.293.707l2,2a1,1,0,0,0,1.154.188l4-2A1,1,0,0,0,21,20V10A9,9,0,0,0,3,10V20a1,1,0,0,0,.553.895l4,2a1,1,0,0,0,1.154-.188l2-2A1,1,0,0,0,11,20V17a1,1,0,0,0-.553-.895L9,15.382V12.618L11.553,13.9a1,1,0,0,0,.894,0L15,12.618v2.764Zm2.972-5.956a1,1,0,0,0-.972-.044L12,11.882,8.447,10.105A1,1,0,0,0,7,11v5a1,1,0,0,0,.553.895L9,17.618v1.968l-1.2,1.2L5,19.382V10a7,7,0,0,1,14,0v9.382l-2.8,1.4-1.2-1.2V17.618l1.447-.723A1,1,0,0,0,17,16V11A1,1,0,0,0,16.525,10.149ZM15,7a1,1,0,0,1-1,1H10a1,1,0,0,1,0-2h4A1,1,0,0,1,15,7Z"/></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg height="800px" width="800px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 512 512"  xml:space="preserve">
              <g>
	<path class="st0" d="M495.792,417.591L94.409,16.196c-21.597-21.574-56.598-21.585-78.194,0
		C-5.403,37.814-5.403,72.804,16.204,94.401l401.384,401.395c21.607,21.586,56.608,21.597,78.216,0
		C517.401,474.189,517.401,439.187,495.792,417.591z M475.073,475.066c-5.125,5.112-11.675,7.595-18.383,7.63
		c-6.686-0.035-13.248-2.529-18.372-7.63L309.798,346.543l36.743-36.754l128.532,128.521c5.089,5.124,7.595,11.675,7.618,18.383
		C482.657,463.39,480.174,469.964,475.073,475.066z"/>
</g>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 32 32" xml:space="preserve">
<g>
	<path d="M29.3,10.1c-0.4-0.1-0.8,0-1.1,0.3l-3.2,4c-1.7-2-5.9-6.4-11-6.4c-0.2,0-0.3,0-0.5,0c1.4,2.4,2.1,5.1,2.1,8
		c0,2.8-0.7,5.6-2.1,8c0.2,0,0.3,0,0.5,0c5.1,0,9.3-4.3,11-6.4l3.2,4c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.2,0,0.3-0.1
		c0.4-0.1,0.7-0.5,0.7-0.9V11C30,10.6,29.7,10.2,29.3,10.1z"/>
  <path d="M11.4,8.4c-5.2,1.5-9,6.8-9.2,7c-0.2,0.3-0.2,0.8,0,1.2c0.2,0.3,4,5.6,9.2,7c1.5-2.3,2.2-4.9,2.2-7.6
		C13.6,13.3,12.8,10.6,11.4,8.4z M10,16c0,0.6-0.4,1-1,1s-1-0.4-1-1v-2c0-0.6,0.4-1,1-1s1,0.4,1,1V16z"/>
</g>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 512 512" xml:space="preserve">
<g>
	<g>
		<path d="M430.176,63.364c10.194,0,18.486-8.294,18.486-18.486V0h-71.267v15.862h55.405v29.015c0,1.423-1.202,2.625-2.625,2.625
			H84.448c0,0-5.25-1.202-5.25-2.625V23.765v-7.903h271.807V0H63.337v23.765v21.112c0,10.194,8.294,18.486,18.486,18.486h2.625
			v385.272h-2.625c-10.194,0-18.486,8.294-18.486,18.487V512h60.706v-15.862H79.199v-29.016c0-1.423,1.202-2.626,2.625-2.626
			h348.353c1.423,0,2.625,1.202,2.625,2.626v21.112v7.903H145.159V512h303.504v-23.765v-21.112c0-10.194-8.294-18.487-18.486-18.487
			h-2.625V63.364H430.176z M411.689,411.688H192.663v15.862h219.026v21.085H100.31V100.31h219.026V84.448H100.31V63.364h311.379
			V411.688z"/>
	</g>
</g>
              <g>
	<g>
		<rect x="345.724" y="84.448" width="31.669" height="15.862"/>
	</g>
</g>
              <g>
	<g>
		<rect x="134.603" y="411.688" width="31.668" height="15.862"/>
	</g>
</g>
              <g>
	<g>
		<path d="M255.999,131.95v15.862c59.655,0.001,108.187,48.534,108.187,108.188c0,23.533-7.406,45.896-21.417,64.671
			c-13.552,18.161-32.867,31.868-54.386,38.597l4.734,15.139c25.039-7.829,46.604-23.132,62.364-44.25
			c16.071-21.536,24.566-47.179,24.566-74.157C380.048,187.599,324.4,131.95,255.999,131.95z"/>
	</g>
</g>
              <g>
	<g>
		<path d="M147.813,255.999c0-22.231,6.674-43.578,19.299-61.731c12.345-17.752,29.477-31.27,49.543-39.095l-5.762-14.778
			c-23.011,8.972-42.652,24.471-56.802,44.816c-14.483,20.826-22.139,45.303-22.139,70.788c0,68.4,55.647,124.049,124.049,124.049
			v-15.862C196.346,364.186,147.813,315.653,147.813,255.999z"/>
	</g>
</g>
              <g>
	<g>
		<path d="M261.268,176.179L256,171.496l-5.268,4.683c-2.059,1.829-50.339,45.325-44.376,90.405
			c2.801,21.18,16.832,38.747,41.713,52.276v26.867h15.862V318.86c24.882-13.529,38.912-31.097,41.713-52.276
			C311.607,221.504,263.326,178.009,261.268,176.179z M289.916,264.538c-1.828,13.736-10.564,25.758-25.985,35.861v-76.068h-15.862
			v76.068c-15.421-10.103-24.156-22.125-25.985-35.861c-3.847-28.907,22.365-59.461,33.916-71.353
			C267.553,205.079,293.763,235.631,289.916,264.538z"/>
	</g>
</g>
              <g>
	<g>
		<path d="M332.517,256c0,25.346-12.518,49.021-33.485,63.331l8.941,13.102c25.302-17.267,40.406-45.841,40.406-76.433H332.517z"/>
	</g>
</g>
              <g>
	<g>
		<path d="M204.026,179.567c-25.301,17.267-40.406,45.84-40.406,76.433h15.862c0-25.346,12.518-49.021,33.485-63.331
			L204.026,179.567z"/>
	</g>
</g>
              <g>
	<g>
		<rect x="118.773" y="121.396" width="21.112" height="15.862"/>
	</g>
</g>
              <g>
	<g>
		<rect x="372.118" y="121.396" width="21.112" height="15.862"/>
	</g>
</g>
              <g>
	<g>
		<rect x="118.773" y="374.74" width="21.112" height="15.862"/>
	</g>
</g>
              <g>
	<g>
		<rect x="372.118" y="374.74" width="21.112" height="15.862"/>
	</g>
</g>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 512 512" xml:space="preserve">
<g>
	<g>
		<path d="M33.24,0l35.379,42.455v113.251h15.835v-34.304h55.423v-15.835H84.454V79.175h343.093v26.392h-55.423v15.835h55.423
			v192.661h15.835V42.455L478.76,0H33.24z M427.546,36.72v26.62H84.454V36.72L67.049,15.835h377.904L427.546,36.72z"/>
	</g>
</g>
              <g>
	<g>
		<path d="M443.381,469.545V335.177h-15.835v60.699h-55.423v15.835h55.423v26.392H84.454v-26.392h55.423v-15.835H84.454V171.545
			H68.619v298L33.24,512h445.519L443.381,469.545z M84.454,475.28v-21.341h343.093v21.341l17.405,20.885H67.049L84.454,475.28z"/>
	</g>
</g>
              <g>
	<g>
		<rect x="329.897" y="105.567" width="21.113" height="15.835"/>
	</g>
</g>
              <g>
	<g>
		<rect x="160.99" y="105.567" width="21.113" height="15.835"/>
	</g>
</g>
              <g>
	<g>
		<rect x="329.897" y="395.876" width="21.113" height="15.835"/>
	</g>
</g>
              <g>
	<g>
		<rect x="160.99" y="395.876" width="21.113" height="15.835"/>
	</g>
</g>
              <g>
	<g>
		<path d="M395.876,261.278c0-21.165-14.733-38.954-34.48-43.653c4.308-6.992,6.611-15.079,6.611-23.541
			c0-12.02-4.648-23.287-13.087-31.727c-8.439-8.438-19.725-13.086-31.779-13.086c-8.436,0-16.505,2.302-23.489,6.607
			c-4.699-19.746-22.487-34.476-43.652-34.476s-38.954,14.732-43.653,34.48c-17.288-10.655-40.295-8.497-55.267,6.477
			c-8.439,8.439-13.086,19.726-13.086,31.78c0,8.435,2.302,16.506,6.607,23.488c-19.747,4.699-34.477,22.487-34.477,43.652
			c0,21.165,14.733,38.954,34.48,43.653c-4.308,6.992-6.611,15.079-6.611,23.541c0,12.02,4.648,23.287,13.087,31.727
			c8.439,8.438,19.725,13.086,31.779,13.086c8.436,0,16.505-2.302,23.489-6.607c4.699,19.746,22.487,34.476,43.652,34.476
			c21.165,0,38.954-14.732,43.653-34.48c17.289,10.654,40.295,8.496,55.268-6.477c8.439-8.439,13.086-19.726,13.086-31.78
			c0-8.435-2.302-16.506-6.607-23.488C381.147,300.232,395.876,282.443,395.876,261.278z M351.01,290.309h-24.919l17.632,17.634
			c5.448,5.447,8.448,12.72,8.448,20.476c0,7.825-3,15.134-8.448,20.582c-11.321,11.32-29.74,11.32-41.058,0.001l-17.634-17.636
			v24.922c0,16.007-13.023,29.031-29.031,29.031s-29.031-13.024-29.031-29.031v-24.922l-17.633,17.635
			c-5.448,5.448-12.721,8.449-20.477,8.449c-7.825,0-15.134-3-20.582-8.448c-5.448-5.449-8.449-12.74-8.449-20.53
			c0-7.791,3-15.081,8.45-20.53l17.631-17.634H160.99c-16.008,0-29.031-13.024-29.031-29.031c0-16.007,13.023-29.031,29.031-29.031
			h24.919l-17.632-17.634c-5.448-5.447-8.449-12.72-8.449-20.476c0-7.825,3-15.134,8.449-20.582
			c11.32-11.322,29.739-11.321,41.058-0.001l17.634,17.636v-24.922c0-16.007,13.023-29.031,29.031-29.031
			s29.031,13.024,29.031,29.031v24.922l17.633-17.635c5.448-5.448,12.721-8.449,20.477-8.449c7.825,0,15.134,3,20.582,8.447
			c5.448,5.449,8.449,12.74,8.449,20.53c0,7.791-3,15.081-8.45,20.53l-17.631,17.634h24.919c16.008,0,29.031,13.024,29.031,29.031
			C380.041,277.285,367.018,290.309,351.01,290.309z"/>
	</g>
</g>
              <g>
	<g>
		<path d="M256,216.412c-24.74,0-44.866,20.126-44.866,44.866S231.26,306.144,256,306.144s44.866-20.126,44.866-44.866
			S280.74,216.412,256,216.412z M256,290.309c-16.008,0-29.031-13.024-29.031-29.031c0-16.007,13.023-29.031,29.031-29.031
			s29.031,13.024,29.031,29.031C285.031,277.285,272.008,290.309,256,290.309z"/>
	</g>
</g>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
              <path d="M2 22v-5l5-5 5 5-5 5z" />
              <path d="M9.5 14.5L16 8" />
              <path d="M17 2l5 5-.5.5a3.53 3.53 0 01-5 0s0 0 0 0a3.53 3.53 0 010-5L17 2" />
            </svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" id="memory-sword"><path d="M8 3V4H9V5H10V6H11V7H12V8H13V9H14V10H15V11H16V12H17V11H19V13H18V14H17V15H18V16H19V17H20V19H19V20H17V19H16V18H15V17H14V18H13V19H11V17H12V16H11V15H10V14H9V13H8V12H7V11H6V10H5V9H4V8H3V7H2V2H7V3H8M7 5H6V4H4V5H5V6H6V7H7V8H8V9H9V10H10V11H11V12H12V13H14V12H13V11H12V10H11V9H10V8H9V7H8V6H7V5Z" /></svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="800px" height="800px" viewBox="0 0 512 512"  xml:space="preserve">
              <g>
	<path class="st0" d="M315.133,254.598H178.227c-7.938,0-14.359,6.422-14.359,14.344v42.141c0,7.938,6.422,14.359,14.359,14.359
		h19.906l10.766,151.719c0,29.391,16.906,34.844,37.781,34.844c20.844,0,37.75-5.453,37.75-34.844l10.766-151.719h19.938
		c7.953,0,14.359-6.422,14.359-14.359v-42.141C329.492,261.021,323.086,254.598,315.133,254.598z"/>
                <path class="st0" d="M275.305,233.989c18.188-4.703,27.625-10.109,47.828-28.297c36.391-36.391,41.797-94.641,18.859-167.094
		c-0.281-0.969-4.031-12.141-10.156-2.594c-3.969,6.203-29.813,34.625-35.766,28.547c3.016-19.734-11.656-61.484-22.109-64.375
		c-10.438-2.906-14.172,29.656-59.969,61.313c-43.125,24.953-68.531,68.922-53.281,115.391
		C175.945,223.348,227.914,246.239,275.305,233.989z M244.852,101.676c13.344-9.719,24.25-18.203,24.25-18.203
		s9.703,20.625,6.078,39.406c12.109-1.219,23.641-10.906,23.641-10.906s15.766,41.844-10.313,73.984
		c-27.875,34.328-78.219,21.219-85.516-15.766C195.867,133.864,231.492,111.364,244.852,101.676z"/>
</g>
</svg>
          </div>
          <div class="item" draggable="true" @dragstart="onDragStart">
            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 512 512" xml:space="preserve">
<g>
	<g>
		<rect x="333.913" y="445.217" width="33.391" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="267.13" y="478.609" width="66.783" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="233.739" y="256" width="33.391" height="222.609"/>
	</g>
</g>
              <g>
	<g>
		<rect x="66.783" y="100.174" width="33.391" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="100.174" y="66.783" width="66.783" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="345.043" y="66.783" width="66.783" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="33.391" y="133.565" width="33.391" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<polygon points="267.13,33.391 267.13,0 233.739,0 233.739,33.391 166.957,33.391 166.957,66.783 345.043,66.783 345.043,33.391
					"/>
	</g>
</g>
              <g>
	<g>
		<polygon points="33.391,222.609 33.391,166.957 0,166.957 0,256 0,289.391 33.391,289.391 33.391,256 111.304,256
			111.304,222.609 		"/>
	</g>
</g>
              <g>
	<g>
		<rect x="144.696" y="222.609" width="89.043" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="267.13" y="222.609" width="100.174" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="411.826" y="100.174" width="33.391" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="445.217" y="133.565" width="33.391" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<polygon points="478.609,166.957 478.609,222.609 400.696,222.609 400.696,256 478.609,256 478.609,289.391 512,289.391 512,256
			512,166.957 		"/>
	</g>
</g>
              <g>
	<g>
		<rect x="111.304" y="256" width="33.391" height="33.391"/>
	</g>
</g>
              <g>
	<g>
		<rect x="367.304" y="256" width="33.391" height="33.391"/>
	</g>
</g>
</svg>
          </div>
        </div>
      </div>

      <div class="inventory" >
        <h2>Ваш инвентарь</h2>
        <div class="inventoryGrid" @drop="onDrop" @dragover="onDragOver">
          <div class="item">
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 20C12 20 21 16 21 9.71405C21 6 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12.7198 5.92016C12.3266 6.32798 11.6734 6.32798 11.2802 5.92016L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5 4 3 6 3 9.71405C3 16 12 20 12 20Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </transition>

</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      draggedItem: null,
      currentPage: 1,
      showTip: 0
    }
  },
  methods: {
    onDragStart(event) {
      this.draggedItem = event.target;
    },
    onDragOver(event) {
      event.preventDefault();
    },
    onDrop(event) {
      event.preventDefault();
      event.target.appendChild(this.draggedItem);
    },
    changePage() {
      this.currentPage = 2
      setTimeout(() => {
        this.currentPage = 3
      }, 3000)
      setTimeout(() => {
        this.currentPage = 4
      }, 6000)
      setTimeout(() => {
        this.showTip = 1
      }, 9000)
    },
    tipPress() {
      this.showTip = 0
      this.currentPage = 5
    }

  },
  mounted() {

  }

}
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  background-color: black;
}

#app {
  height: 100%;
}

h1 {
  color: white;
  font-family: Inconsolata;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-button {
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  display: inline-block;
  font-family: Inconsolata;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.housePage {
  background-image: url("assets/house.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.closedChest {
  background-image: url("assets/chestClosed.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.lootBtn {
  user-select: none;
  cursor: pointer;
  color: lightgray;
  transition: transform 0.2s ease-in-out;
}

.lootBtn:hover{
  color: white;
  transform: scale(1.1);
}

.lootingArea{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, #242927, #6B6852);
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.item{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  border:1px solid black;
}

.inventory{
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 325px;
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  font-family: Inconsolata;
}

.inventory svg{
  width: 50px;
  height: 50px;
}

.inventoryGrid{
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-auto-rows: minmax(50px, 50px);
  grid-gap: 5px;
  align-items: center;
  grid-column-gap: 5px;
  border: 2px solid black;
  border-radius: 7px;
  width: 325px;
  height: 500px;
}


</style>
